<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Flapper News</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css"</link>
    <script src="node_modules/angular/angular.js"></script>
    <script src="app.js"></script>
    <style> .glyphicon-thumbs-up { cursor:pointer } </style>
  </head>

  <body ng-app="flapperNews" ng-controller="MainCtrl as Ctrl">
    <div ng-repeat="post in Ctrl.posts | orderBy: '-upvotes'">
      <span ng-click="Ctrl.incrementUpvotes(post)">^</span>
      <a ng-show="post.link" ng-href="http://{{post.link}}">
        {{post.title}}
      </a>
      <span ng-hide="post.link">
        {{post.title}}
      </span>
      - upvotes: {{post.upvotes}}
    </div>
    <form ng-submit="Ctrl.addPost()">
      <input type="text" ng-model="Ctrl.title"></input>
      <br>
      <input type="text" placeholder="Link" ng-model="Ctrl.link"></input>
      <br>
      <button type="submit">Post</button>
    </form>

  </body>
</html>
